/* !!! подключить шрифты */
/* font-family: 'Josefin Sans'; */
/* font-family: 'Cedarville Cursive'; */
/* font-family: 'George Round'; */

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* background-color: grey; */
}

header {
  display: flex;
  flex-direction: row;
  margin: 0 120px;
  margin-top: 36px;
  margin-bottom: 63px;
}

.logo-wrp {
  width: 236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 288px;
}

nav {
  width: 645px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  color: black;
  text-decoration: none;
  /* margin-right: 52px; */
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: justify;
}

.nav_btn {
  color: #ffffff;
  padding: 13px 32px;
  background: #2D635E;
  mix-blend-mode: normal;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

/* nav ul li:last-child a {
  color: #ffffff;
  padding: 13px 32px;
  background: #2D635E;
  mix-blend-mode: normal;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
} */

.main-screen {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.container {
  max-width: 1203px;
}

.main-screen__left {
  /* border: 1px solid green; */
  max-width: 515px;
  height: 222px;
  margin-right: 47px;
  margin-top: 136px;
}

h4  {
  /* font-family: 'Cedarville Cursive'; */
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
  color: #444A4A;
}

.main-screen__tagline {
  width: 414px;
  margin-bottom: 26px;
}

.main-screen__title {
  /* font-family: 'Josefin Sans'; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 63px;
  line-height: 63px;
  color: #000000;
  margin-bottom: 26px;
}

.bnt-order {
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  width: 235px;
  background: #2D635E;
  border-radius: 5px;
  padding: 14px;
  font-family: 'George Round';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.main-screen__right {
  /* border: 1px solid pink; */
  /* width: 570px; */
  display: flex;
  flex-direction: row;
  align-items: end;
}

.main-screen__right button {
  width: 159px;
  height: 157px;
  background-color: #E3EBE7;
  opacity: 0.4;
  border: none;
  color: #000000;
}

.main-screen__right_img {
  width: 410px;
  height: 466px;
  background: #E3EBE7;
  position: relative;
}

.main-screen__right_img img {
  position: absolute;
  top: 140px;
  left: 39px;
}

.social-icons {
  transform: rotate(-90deg);
  height: 32px;
  /* width: 291px; */
  display: flex;
  align-self: end;
  margin-bottom: 112px;
  margin-left: -40px;
}

.social-icons h3 {
  width: 121px;
  color: #444A4A;
  /* font-family: 'Josefin Sans'; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.social-icons img {
  margin-left: 14px;
}

.about {
  width: 1200px;
  margin: 0 auto;
  margin-top: 194px;
  margin-bottom: 109px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about .about_italic,
.promotion .promotion_italic,
.footer_map .footer_italic {
  position: absolute;
  transform: rotate(-90deg);
  color: #000000;
  opacity: 0.75;
  z-index: 1;
}

.about .about_italic {
  left: -39px;
}

.promotion .promotion_italic {
  right: -48px;
}

.footer_map .footer_italic {
  right: -38px;
}

.about .about_bg {
  width: 380px;
  height: 287px;
  background-color: #FAE9E0;
  position: relative;
}

.about .about_bg img {
  position: absolute;
  top: 78px;
  left: 28px;
}

.about .about_wrapper {
  max-width: 645px;
}

.about .about_wrapper .about_title,
.promotion .promotion_wrapper .promotion_title {
  color: #000000;
  /* font-family: 'Josefin Sans'; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 63px;
/* line-height: 63px; */
  margin-bottom: 25px;
}

.about .about_wrapper .about_text,
.promotion .promotion_wrapper .promotion_text,
.slider .slider_wrp .cards .card_wrp .card_text {
  color: #444A4A;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 0.001em;
}

.promotion {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 64px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.promotion .promotion_wrapper {
  max-width: 615px;
}

.promotion .bnt-order {
  margin-top: 24px;
}

.promotion .promotion_bg {
  width: 410px;
  height: 276px;
  background-color: #E3EBE7;;
  position: relative;
}

.slider {
  margin: 0;
  height: 550px;
  background-color: rgb(45, 99, 94, .08);
  display: flex;
}

.slider .slider_wrp {
  width: 1200px;
  height: 458px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.slider .slider_wrp .slider_arrow {
  width: 22px;
}

.slider .slider_wrp .cards {
  min-width: 1084px;
  display: flex;
  justify-content: space-between;
} 

.slider .slider_wrp .cards .card_wrp {
  width: 340px;
  height: 458px;
  padding: 45px 62px 47px 54px;
  background: #FFFFFF;
  box-shadow: 0px 23px 34px rgba(35, 57, 55, 0.17);
  border-radius: 25px;
}

.slider .slider_wrp .cards .card_wrp .card_title {
  color: #000000;
  /* font-family: 'Josefin Sans'; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  /* line-height: 28px; */
text-align: center;
}

.slider .slider_wrp .cards .card_wrp .card_text {
  margin-top: 25px;
  margin-bottom: 43px;
  text-align: center;
}

footer {
  width: 1200px;
  margin: 0 auto;
}

footer .footer_wrapper {
  display: flex;
}

footer .footer_wrapper hr {
  width: 102px;
  height: 2px;
  border-top: 2px solid #444A4A;
  background-color: #444A4A;
  margin: 165px 32px 0 32px;
}

footer .footer_map {
  position: relative;
  padding: 129px 0 114px 0;
}

footer .footer_contacts {
  padding-top: 142px;
}

footer .footer_contacts .contacts_title {
  color: #000000;
  /* font-family: 'Josefin Sans'; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  /* line-height: 45px; */
  letter-spacing: 0.02em;
  margin-bottom: 21px;
}

footer .footer_contacts .contacts_line {
  color: #444A4A;
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-size: 19px;
  /* line-height: 36px; */
  letter-spacing: 0.001em;
  margin-bottom: 16px;
}

footer .footer_contacts .contacts_line:last-child {
  margin-bottom: 0;
}

footer .sign {
  color: #444A4A;
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-size: 19px;
/* line-height: 36px; */
text-align: center;
letter-spacing: 0.001em;
margin-bottom: 5px;
}




